@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-display: var(--font-sans);
}

body {
  background: #ffffff;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Multi-layered halo glow for dark buttons */
.button-ambient-glow {
  box-shadow:
    0px 0px 180px 0px rgba(255, 255, 255, 0.12),
    0px 0px 90px 0px rgba(255, 255, 255, 0.1),
    0px 0px 40px 0px rgba(255, 255, 255, 0.08),
    0px 0px 12px 0px rgba(255, 255, 255, 0.06);
}

/* Orionix Footer Mask */
.orionix-gradient-mask {
  mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0.02) 40%,
    rgba(0, 0, 0, 0.02) 60%,
    rgba(0, 0, 0, 0.35) 100%
  );
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0.02) 40%,
    rgba(0, 0, 0, 0.02) 60%,
    rgba(0, 0, 0, 0.35) 100%
  );
}

@keyframes pulse-glow {
  0%,
  100% {
    box-shadow:
      0 0 4px 1px rgba(255, 0, 0, 0.9),
      0 0 10px 2px rgba(255, 0, 0, 0.4);
    opacity: 1;
  }
  50% {
    box-shadow:
      0 0 8px 2px rgba(255, 0, 0, 0.6),
      0 0 16px 4px rgba(255, 0, 0, 0.2);
    opacity: 0.8;
  }
}

.animate-pulse-glow {
  animation: pulse-glow 2s infinite ease-in-out;
}
